.wp-block-cgb-block-illkidrecords-blocks-slideshow {
     button {
         position: absolute;
         z-index: 2;
     }
}
.vinyl-store-label {
	position: absolute;
	bottom: -1.5rem;
	left: 0;
	right: 0;
	text-align: center;
	background: #000;
	width: 220px;
	margin: 0 auto;
	color: #fff;
	font-family: bio-sans, sans-serif;
	height: 52px;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 0.6rem;

	h3 {
		text-transform: uppercase;
	}
}


.slide-dots-list {
    list-style-type: none !important;
    position: absolute;
    bottom: 8px;
    left: 0;
    right: 0;
    text-align: center;
    margin: 0 auto;
    display: flex;
    // flex-direction: row-reverse;
    justify-content: center;

    a {
        outline: none;
    }

    .active .dots {
        background: #fff;
    }
   
    li {
        display: inline-block;
    }
}

.dots {
    width: 15px;
    height: 15px;
    display: block;
    background: #333;
    margin: 0.3rem;
    border-radius: 100%;
    transition: .22s ease;
}

.slideshow-arrows {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 0 3rem;
    position: absolute;

    .slideshow-arrows-list {
        display: flex;
        width: 100%;
        justify-content: space-between;
        padding: 0 0rem;
        list-style: none;

        a {
            display: block;
        }
    }
}

.slide__CTA {
    // background: rgba(0, 0, 0, 0.9);
    width: 80%;
    height: 4.5rem;
    position: absolute;
    bottom: 70px;
    right: 0;
    display: flex;
    padding: 1rem 0;
    font-family: Bio Sans;

    h1 {
        color: #fff!important;
        text-transform: uppercase;
        font-size: 1rem!important;
        font-weight: 800;
        text-align: right;
        margin: 0 !important;
    }
    h4 {
        color: #fff!important;
        text-transform: uppercase;
        font-size: .7rem!important;
        font-weight: 800;
        text-align: right;
        margin: 0 !important;
    }
}

.slide__CTA--left {
    width: 60%;
    padding: 0 1rem 0 0rem;
}

.slide__CTA--right {
    width: 40%;
    padding: 0 1rem 0 1rem;
    display: flex;
    align-items: center;

    h4 {
        text-align: left;
    }
}

.cta-separator {
    background: #fff;
    width: 1px;
    height: 100%;
}

.slide-cta-left-bottom {
    display: flex;
    justify-content: flex-end;
    font-size: .7rem;

    .cta-link-text {
        color: #BE817B;
        font-weight: 800;
        text-transform: uppercase;
        margin: 0 0 0 4px;
        position: relative;
        bottom: 2px;        
    }
}

.slideshow__slide--main {
    background-size: cover;
    width: 580px;
    height: 350px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

@media(max-width: 1147px) {
    .slideshow__slide--main {
        width: 100%;
    }
    .slide__CTA {
        width: 100%;
    }
    .slide__CTA h1 {
        font-size: .7rem !important;
    }
    .slide__CTA h4 {
        font-size: 0.6rem !important;
    }
}