.crew__component--card {
    margin: 1rem 0;
}

.crew__component--artist {
    text-align: center;
    font-family: 'Bio Sans';
    font-size: 22px;
    font-weight: bold;
    text-transform: uppercase;
}

.crew__component--description {
    text-align: center;
    font-family: 'Bio Sans';
    font-size: 22px;
    text-transform: uppercase;
    font-weight: bold;
    color: #a0a0a0;
}
