.wp-block-cgb-block-illkidrecords-blocks-thank-you{
    width: 700px;
    padding: 1rem 5rem 10rem;
    margin: 0 auto;

    .thank-you--text {
        font-family: 'bio sans';
        font-weight: bold;
        font-size: 1.2rem;
        color: #a5a5a5;
    }
    .thankyou__text--highlite {
        color: #333;
    }
}

