.wp-block-cgb-block-illkidrecords-blocks-about-artist-block {
    padding: 2rem 2rem 15rem;
    width: 700px;
    margin: 0 auto;
    p {
        font-size: 1.5rem;
        // font-family: 'Helvetica Neue';
        line-height: 30px;
        font-weight: 500;
        color: #929292;
    }
}