.wp-block-cgb-block-illkidrecords-blocks-about-artist-block {
    padding: 2rem 2rem 15rem;
    p {
        font-size: 1rem;
        font-family: 'HelveticaNeueMed';
        line-height: 40px;
        font-weight: 500;
        color: #333;
    }
    .about__container--description {
        a {
            font-size: 0.9rem;
            text-transform: uppercase;
        }
    }
}