.wp-block-cgb-block-illkidrecords-blocks-about-artist-block {
    padding: 2rem 2rem 15rem;
    width: 700px;
    margin: 0 auto;
    p {
        font-size: 1rem;
        // font-family: 'HelveticaNeueMed';
        line-height: 30px;
        font-weight: 500;
        color: #333;
    }
    .about__container--description {
        a {
            font-size: 1.2rem;
            /* text-transform: uppercase; */
            font-family: 'DopeJam';
            color: #000;
            background-image: none;
            &:hover {
                background-image: none;
            }
        }
    }
}